@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding:0;
  margin: 10;
  box-sizing:border-box;
  font-size: xx-large;
  font-family: Outfit;
}

#root{
  min-height: 100vh;
  display: flex;
  animation: 1.5s;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}